ol {
    background: #f5c5c5;
    padding: 20px;
  }
  
ol li {
    background: #f7e7e7;
    padding: 5px;
    margin-left: 35px;
  }

  button.timetable{
    background-color: rgb(95, 210, 255);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
button.timetable:hover {
    background-color: #286cff;
  }

  button.delete{
    background-color: rgb(240, 173, 173);
    border: medium;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
button.delete:hover {
    background-color: #f70000;
  }