<h2>Public Schedules by Users</h2>
<ol class="publicSchedules">
    <li *ngFor="let all of publicSchedules; index as i" (click)="getCourseList(i)">
        <h3>{{all.username}}</h3>
        <h4>{{all.scheduleName}}</h4>
        <div *ngIf="clickedIndex==i && clickedSchedule">
            <div *ngIf="!courses">
                <button (click)="timetable(i)" class="timetable">
                    See Timetable
                </button>
            </div>
            <div *ngIf="clickedSchedule.description">
                <h5>Description: {{clickedSchedule.description}}</h5>
            </div>
            <ul>
                <li *ngFor="let code of clickedSchedule.codes">
                    <span>subjectCode: </span>{{code.subjectCode}}<br>
                    <span>courseCode: </span>{{code.courseCode}}<br>
                </li>
            </ul>
            <div *ngIf="courses">
                <button (click)="closeTimetable(i)" class="delete">
                    X
                </button>
                <app-timetable [courses]="courses"></app-timetable>
            </div>
        </div>
        <div *ngIf="!(clickedIndex==i && clickedSchedule)">
            <span class="badge">Number of courses in this schedule: {{all.codes.length}}</span>
        </div>
    </li>
</ol>
