<h2>Courses</h2>
<app-courses-search></app-courses-search>
<ul class="allSubjectCodes">
    <li *ngFor="let all of allSubjectCodes; index as i" (click)="getClasses(all, i)">
      <span class="badge">{{all}}</span>
      <div *ngIf="clickedIndex==i && classes">
        <ul class="subjectCode">
            <li *ngFor="let course of classes.subjectCodes; index as j" (click)="getReview(j)">
              <span>{{course.classNumber}} {{course.courseCode}} {{course.className}}</span>
              <button (click)="addCourse(course.courseCode,all)" class="add">
                +
              </button>
              <div *ngIf="clickedForReview && clickedIndexForClasses==j">
                <button (click)="seeReview(j)">
                  Leave a Review
                </button>
              </div>
            </li>
        </ul>
      </div>
    </li>
</ul>
