.allSubjectCodes li{
    position: relative;
    cursor: pointer;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 100%;
    border-radius: 4px;
    overflow: auto;
  }
  .allSubjectCodes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
button.add{
    background-color: rgb(173, 240, 206);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
    float: right;
  }
  
button.add:hover {
    background-color: #3bff4b;
  }