
<div *ngIf="courses">
  <h3>Last Searched Timetable</h3>
    <ul >
        <li *ngFor="let course of courses.subjectCodes" class="searchCourses">
          <span class="badge">{{course.subject}} - </span>
          <span class="badge">{{course.className}}</span>
            <ul class="indivCourse">
                <li *ngFor="let info of course.courseInfo">
                  <span>{{info.courseCode}} </span>
                  <span>{{info.component}} </span>
                  <span>{{info.startTime}} to {{info.endTime}} - </span>
                  <span>{{info.days}} </span>
    
                </li>
            </ul>
        </li>
    </ul>