<h2>All Schedules</h2>
<div>
  <button (click)="deleteAllSchedules()" class="delete">
    Delete All Schedules
  </button>
</div>
<div>
  <label>New Schedule:
    <input #newSchedule />
  </label>
  <button (click)="add(newSchedule.value)">
    add
  </button>
</div>

<ul class="allSchedules">
    <li *ngFor="let all of allSchedules" (click)="getSpecificSchedule(all)">
      <span class="badge">{{all}}</span>
    </li>
  </ul>

<app-find-schedule [schedules]="selectedSchedule" (replaceEvent)="replaceSchedules()" (updateEvent)="getSchedules()" ></app-find-schedule>
<div *ngIf="workingList">
  <h3>Current Schedule List</h3>
  <ul>
      <li *ngFor="let listItem of workingList">
        <span>{{listItem.courseCode}} {{listItem.subjectCode}}</span>

      </li>
  </ul>
</div>